<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
   
      .front-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.front-front {
  width: 100%;
  height: 200px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.front-subtract {
  top: 0px;
  left: 0px;
  width: 350px;
  height: 200px;
  position: absolute;
}
.front-vector {
  top: 16px;
  left: 169px;
  width: 132px;
  height: 133px;
  opacity: 0.40;
  position: absolute;
}
.front-vector01 {
  top: 16px;
  left: -2px;
  width: 35px;
  height: 138px;
  opacity: 0.40;
  position: absolute;
}
.front-vector02 {
  top: 122px;
  left: 268px;
  width: 61px;
  height: 65px;
  opacity: 0.40;
  position: absolute;
}
.front-vector03 {
  top: 95px;
  left: 140px;
  width: 103px;
  height: 54px;
  opacity: 0.15;
  position: absolute;
}
.front-vector04 {
  top: 99px;
  left: 146px;
  width: 59px;
  height: 44px;
  opacity: 0.15;
  position: absolute;
}
.front-vector05 {
  top: 157px;
  left: -2px;
  width: 69px;
  height: 116px;
  opacity: 0.22;
  position: absolute;
}
.front-frame1686564733 {
  gap: 10px;
  top: 20px;
  left: 20px;
  width: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.front-frame1686564735 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.front-text {
  color: var(--dl-color-default-white);
  height: auto;
  box-shadow: 0px 4px 4px 0px rgba(92, 92, 92, 0.25) ;
  text-align: left;
  line-height: 160.0000023841858%;
}
.front-text2 {
  color: var(--dl-color-default-white);
  height: auto;
  box-shadow: 0px 4px 4px 0px rgba(92, 92, 92, 0.25) ;
  text-align: left;
  line-height: 160.0000023841858%;
}
.front-frame1686564705 {
  gap: 192px;
  left: 23px;
  width: 310px;
  bottom: 17px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.front-text4 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: normal;
}
.front-text5 {
  color: var(--dl-color-texts-plainwhiteffffff);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
.front-englishklip {
  top: 20px;
  left: 259px;
  width: 71px;
  height: 28.04201889038086px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.front-group {
  top: -0.00007283187005668879px;
  left: 26.85063362121582px;
  width: 15.806832313537598px;
  height: 22.06587028503418px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-layer01member0fill {
  top: 0px;
  left: 0px;
  width: 15.806832313537598px;
  height: 22.06587028503418px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-vector06 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 22px;
  position: absolute;
}
.front-group1 {
  top: -0.00014566374011337757px;
  left: 42.71705627441406px;
  width: 4.165231704711914px;
  height: 22.065866470336914px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-layer01member1fill {
  top: 0px;
  left: 0px;
  width: 4.165231704711914px;
  height: 22.065866470336914px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-vector07 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 22px;
  position: absolute;
}
.front-group2 {
  top: -0.00014566374011337757px;
  left: 48.54462814331055px;
  width: 4.960164546966553px;
  height: 4.830307960510254px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-layer01member2fill {
  top: 0px;
  left: 0px;
  width: 4.960164546966553px;
  height: 4.830307960510254px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-vector08 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.front-group3 {
  top: 5.988819122314453px;
  left: 54.523101806640625px;
  width: 16.476945877075195px;
  height: 22.05307388305664px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-layer01member3fill {
  top: 0px;
  left: 0px;
  width: 16.476945877075195px;
  height: 22.05307388305664px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-vector09 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 22px;
  position: absolute;
}
.front-group4 {
  top: 5.975490570068359px;
  left: 47.84107208251953px;
  width: 5.275517463684082px;
  height: 16.090362548828125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-layer01member4fill {
  top: 0px;
  left: 0px;
  width: 5.275517463684082px;
  height: 16.090362548828125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-vector10 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 16px;
  position: absolute;
}
.front-group5 {
  top: 0.012818409129977226px;
  left: 0px;
  width: 22.691932678222656px;
  height: 22.091455459594727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-layer02fill {
  top: 0px;
  left: 0px;
  width: 22.691932678222656px;
  height: 22.091455459594727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-vector11 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 22px;
  position: absolute;
}

    
      .front-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.front-front {
  width: 100%;
  height: 200px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.front-subtract {
  top: 0px;
  left: 0px;
  width: 350px;
  height: 200px;
  position: absolute;
}
.front-vector {
  top: 16px;
  left: 169px;
  width: 132px;
  height: 133px;
  opacity: 0.40;
  position: absolute;
}
.front-vector01 {
  top: 16px;
  left: -2px;
  width: 35px;
  height: 138px;
  opacity: 0.40;
  position: absolute;
}
.front-vector02 {
  top: 122px;
  left: 268px;
  width: 61px;
  height: 65px;
  opacity: 0.40;
  position: absolute;
}
.front-vector03 {
  top: 95px;
  left: 140px;
  width: 103px;
  height: 54px;
  opacity: 0.15;
  position: absolute;
}
.front-vector04 {
  top: 99px;
  left: 146px;
  width: 59px;
  height: 44px;
  opacity: 0.15;
  position: absolute;
}
.front-vector05 {
  top: 157px;
  left: -2px;
  width: 69px;
  height: 116px;
  opacity: 0.22;
  position: absolute;
}
.front-frame1686564733 {
  gap: 10px;
  top: 20px;
  left: 20px;
  width: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.front-frame1686564735 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.front-text {
  color: var(--dl-color-default-white);
  height: auto;
  box-shadow: 0px 4px 4px 0px rgba(92, 92, 92, 0.25) ;
  text-align: left;
  line-height: 160.0000023841858%;
}
.front-text2 {
  color: var(--dl-color-default-white);
  height: auto;
  box-shadow: 0px 4px 4px 0px rgba(92, 92, 92, 0.25) ;
  text-align: left;
  line-height: 160.0000023841858%;
}
.front-frame1686564705 {
  gap: 192px;
  left: 23px;
  width: 310px;
  bottom: 17px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.front-text4 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: normal;
}
.front-text5 {
  color: var(--dl-color-texts-plainwhiteffffff);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
.front-englishklip {
  top: 20px;
  left: 259px;
  width: 71px;
  height: 28.04201889038086px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.front-group {
  top: -0.00007283187005668879px;
  left: 26.85063362121582px;
  width: 15.806832313537598px;
  height: 22.06587028503418px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-layer01member0fill {
  top: 0px;
  left: 0px;
  width: 15.806832313537598px;
  height: 22.06587028503418px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-vector06 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 22px;
  position: absolute;
}
.front-group1 {
  top: -0.00014566374011337757px;
  left: 42.71705627441406px;
  width: 4.165231704711914px;
  height: 22.065866470336914px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-layer01member1fill {
  top: 0px;
  left: 0px;
  width: 4.165231704711914px;
  height: 22.065866470336914px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-vector07 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 22px;
  position: absolute;
}
.front-group2 {
  top: -0.00014566374011337757px;
  left: 48.54462814331055px;
  width: 4.960164546966553px;
  height: 4.830307960510254px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-layer01member2fill {
  top: 0px;
  left: 0px;
  width: 4.960164546966553px;
  height: 4.830307960510254px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-vector08 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.front-group3 {
  top: 5.988819122314453px;
  left: 54.523101806640625px;
  width: 16.476945877075195px;
  height: 22.05307388305664px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-layer01member3fill {
  top: 0px;
  left: 0px;
  width: 16.476945877075195px;
  height: 22.05307388305664px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-vector09 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 22px;
  position: absolute;
}
.front-group4 {
  top: 5.975490570068359px;
  left: 47.84107208251953px;
  width: 5.275517463684082px;
  height: 16.090362548828125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-layer01member4fill {
  top: 0px;
  left: 0px;
  width: 5.275517463684082px;
  height: 16.090362548828125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-vector10 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 16px;
  position: absolute;
}
.front-group5 {
  top: 0.012818409129977226px;
  left: 0px;
  width: 22.691932678222656px;
  height: 22.091455459594727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-layer02fill {
  top: 0px;
  left: 0px;
  width: 22.691932678222656px;
  height: 22.091455459594727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.front-vector11 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 22px;
  position: absolute;
}

    


    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />
    <!-- <link rel="stylesheet" href="./style.css" /> -->
    <style data-tag="stylesheet">
      :root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-alerts-info: rgba(255, 195, 40, 1);
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-color-default-white: rgba(255, 255, 255, 1);
  --dl-radius-radius-round: 50%;
  --dl-color-alerts-darkred: rgba(203, 13, 13, 1);
  --dl-color-texts-t253545d: rgba(83, 84, 93, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-darkcanvas-text: rgba(51, 51, 51, 1);
  --dl-color-greens-g15eb261: rgba(94, 178, 97, 1);
  --dl-color-greens-g2b9f8b9: rgba(185, 248, 185, 1);
  --dl-color-greens-g3e8fde8: rgba(232, 253, 232, 1);
  --dl-color-greens-g4d1fad1: rgba(209, 250, 209, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-color-blues-blue11d1d2c: rgba(29, 29, 44, 1);
  --dl-color-blues-blue212121c: rgba(18, 18, 28, 1);
  --dl-color-blues-blue4323340: rgba(50, 51, 64, 1);
  --dl-color-greens-gnew35c937: rgba(53, 201, 55, 1);
  --dl-color-texts-primarylowfi: rgba(29, 29, 44, 1);
  --dl-color-texts-white1d6d6d9: rgba(214, 214, 217, 1);
  --dl-color-darkcanvas-t11b1b1b: rgba(26, 26, 26, 1);
  --dl-color-blues-cardbase282836: rgba(40, 40, 54, 1);
  --dl-color-greens-primary00e600: rgba(0, 230, 0, 1);
  --dl-color-neutrals-gray1d6d6d9: rgba(214, 214, 217, 1);
  --dl-color-neutrals-gray2c1c1c5: rgba(193, 193, 197, 1);
  --dl-color-neutrals-gray3adadb2: rgba(173, 173, 178, 1);
  --dl-color-neutrals-grey484848c: rgba(132, 132, 140, 1);
  --dl-color-alerts-alertrede05959: rgba(224, 88, 88, 1);
  --dl-color-blues-blue3card1a1a28: rgba(26, 26, 40, 1);
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-alerts-alertred2ffa39e: rgba(255, 163, 158, 1);
  --dl-color-alerts-alertred3fff1f0: rgba(255, 241, 240, 1);
  --dl-color-texts-plainwhiteffffff: rgba(255, 255, 255, 1);
  --dl-color-darkcanvas-canvas050508: rgba(5, 5, 8, 1);
  --dl-color-canvaswhite-canvaseaeaec: rgba(234, 234, 236, 1);
  --dl-color-canvaswhite-canvas2f1f0f5: rgba(241, 240, 245, 1);
  --dl-color-expenditurecolors-food76a6d3: rgba(118, 166, 211, 1);
  --dl-color-expenditurecolors-beauty5281ac: rgba(82, 129, 172, 1);
  --dl-color-expenditurecolors-healthee9e38: rgba(238, 158, 56, 1);
  --dl-color-expenditurecolors-housingdfa1a7: rgba(223, 161, 167, 1);
  --dl-color-expenditurecolors-clothingsdabb4f: rgba(217, 187, 78, 1);
  --dl-color-expenditurecolors-cosmetics5accd1: rgba(90, 204, 209, 1);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.ArabicwebtextstyleCaption\(Bold12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 700px;
  font-stretch: normal;
}
.ArabicwebtextstyleBody3\(Light14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 300px;
  font-stretch: normal;
}
.ArabicwebtextstyleBody2\(Reg14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleBody1\(Reg16px\) {
  font-size: 16px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleCallouts1\(Reg20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleCallouts2\(14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleSubheadline3\(Med16px\) {
  font-size: 16px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicwebtextstyleSubheadline2\(Reg18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleSubheadline1\(Med18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicwebtextstyleTitle3\(Med20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicwebtextstyleTitle2\(Reg20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleTitle1\(Med24\) {
  font-size: 24px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicwebtextstyleHeadline4\(Med38px\) {
  font-size: 38px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicwebtextstyleHeadline3\(Med48px\) {
  font-size: 48px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicwebtextstyleHeadline2\(Reg64px\) {
  font-size: 64px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleHeadline1\(Med76px\) {
  font-size: 76px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.Arabicwebtextstyle\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\= {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.WebtextstyleCaption\(Semi12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600px;
  font-stretch: normal;
}
.WebtextstyleBody3\(Reg14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 400px;
  font-stretch: normal;
}
.WebtextstyleBody2\(Med14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleBody1\(Reg16px\) {
  font-size: 16px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 400px;
  font-stretch: normal;
}
.WebtextstyleCallouts1\(_Med20px_\) {
  font-size: 20px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleCallouts2\(_Med14px_\) {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleSubheadline3\(Med16px\) {
  font-size: 16px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleSubheadline2\(Reg18\) {
  font-size: 18px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 400px;
  font-stretch: normal;
}
.WebtextstyleSubheadline1\(Med18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleTitle3\(Reg20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 400px;
  font-stretch: normal;
}
.WebtextstyleTitle2\(Med20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleTitle1\(Med24px\) {
  font-size: 24px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleHeadline4\(Med38px\) {
  font-size: 38px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleHeadline3\(Med48px\) {
  font-size: 48px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleHeadline2\(Reg64px\) {
  font-size: 64px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 400px;
  font-stretch: normal;
}
.WebtextstyleHeadline1\(Med76px\) {
  font-size: 76px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.Webtextstyle\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\= {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ApplicationtextstyleCaption1\(Reg12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleCaption2\(Bold12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700px;
  font-stretch: normal;
}
.ApplicationtextstyleCaption3\(Med11px\) {
  font-size: 11px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleSubhead\(Med14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleCallouts\(_Med14px_\) {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleBody\(Reg14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 400px;
  font-stretch: normal;
}
.ApplicationtextstyleHeadline1\(Med18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleHeadline2\(Bold18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 700px;
  font-stretch: normal;
}
.ApplicationtextstyleHeadline3\(Med16px\) {
  font-size: 16px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleTitle3\(Med20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleTitle2\(Med24px\) {
  font-size: 24px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleTitle1\(Med28px\) {
  font-size: 28px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleLargetitle\(Med34px\) {
  font-size: 34px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.Applicationtextstyle\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\= {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicmobilestyleCaption1\(Reg12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicmobilestyleCaption2\(Bold12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 700px;
  font-stretch: normal;
}
.ArabicmobilestyleCaption3\(Med11px\) {
  font-size: 11px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicmobilestyleSubhead\(Reg14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicmobilestyleCallouts_\(Reg14px\)_ {
  font-size: 14px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicmobilestyleBody\(light14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 300px;
  font-stretch: normal;
}
.ArabicmobilestyleHeadline1\(Med18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicmobilestyleHeadline2\(Bold18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 700px;
  font-stretch: normal;
}
.ArabicmobilestyleHeadline3\(Med16px\) {
  font-size: 16px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicmobilestyleTitle3\(Reg20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicmobilestyleTitle2\(Med24px\) {
  font-size: 24px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicmobilestyleTitle1\(Med28px\) {
  font-size: 28px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicmobilestyleLargetitle\(Med34px\) {
  font-size: 34px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.Arabicmobilestyle\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\= {
  font-size: 34px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.BilltextstyleTitle\(Reg28px\) {
  font-size: 28px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400px;
  font-stretch: normal;
}
.BilltextstyleHeadline\(Bold12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 700px;
  font-stretch: normal;
}
.BilltextstyleBody2\(Reg12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400px;
  font-stretch: normal;
}
.BilltextstyleBody\(semi12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600px;
  font-stretch: normal;
}
.Billtextstyle\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\= {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}

    </style>
  </head>
  <body>
    <div>
      <!-- <link href="./index.css" rel="stylesheet" /> -->
    
      <div class="front-container">
        <div class="front-front">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/assetsfortruklipmvp.appspot.com/o/subtract18780-42m.svg?alt=media&token=fce32f93-81af-4f49-9fca-cb796a21e286"
            alt="https://ipfs.io/ipfs/QmZysTr6zcjnynKxUmPzWiwort7VrGqSDYdvqSCT7rzMb7?filename=subtract18780-42m.svg"
            class="front-subtract"
          />
          <img
            src="https://firebasestorage.googleapis.com/v0/b/assetsfortruklipmvp.appspot.com/o/vector18780-awoi.svg?alt=media&token=3c9e6c0e-e19c-4328-bdb3-c7e262992552"
            alt="https://ipfs.io/ipfs/QmZHQdd5YeUqCbLpKvmQFD99VSXuy1x2JTpwD1QfhjSFwy?filename=vector18780-awoi.svg"
            class="front-vector"
          />
          <img
            src="https://firebasestorage.googleapis.com/v0/b/assetsfortruklipmvp.appspot.com/o/vector18780-auru.svg?alt=media&token=609329e5-8a4a-4eee-9ab3-c220df5f4eb8"
            alt="https://ipfs.io/ipfs/QmXtCtwTETnMZq5FSFuktqR7v9GPfQKxha9Yppwo8oZogp?filename=vector18780-auru.svg"
            class="front-vector01"
          />
          <img
            src="https://firebasestorage.googleapis.com/v0/b/assetsfortruklipmvp.appspot.com/o/vector18780-s72n.svg?alt=media&token=6ee82f91-adb3-4278-99e0-127562b49d90"
            alt="https://ipfs.io/ipfs/QmWhHZTxYTHUjzQM2fsKPK36ALb4KmFBeJAukXzYkEJfsg?filename=vector18780-s72n.svg"
            class="front-vector02"
          />
          <img
            src="https://firebasestorage.googleapis.com/v0/b/assetsfortruklipmvp.appspot.com/o/vector18780-ztbe.svg?alt=media&token=2097a04e-bad4-4c1b-9eac-ec81e3318593"
            alt="https://ipfs.io/ipfs/QmR2csr9T3ca5HvDAiSTNMYaygtHfQtP8fQF4u87mGDx2j?filename=vector18780-ztbe.svg"
            class="front-vector03"
          />
          <img
            src="https://firebasestorage.googleapis.com/v0/b/assetsfortruklipmvp.appspot.com/o/vector18780-t666.svg?alt=media&token=2249adc7-a842-413f-a99d-6f653bda300e"
            alt="Vector18780"
            class="front-vector04"
          />
          <img
            src="https://firebasestorage.googleapis.com/v0/b/assetsfortruklipmvp.appspot.com/o/vector18780-mg29.svg?alt=media&token=4553819e-8028-4c7f-a081-da452c8715f0"
            alt="Vector18780"
            class="front-vector05"
          />
          <div class="front-frame1686564733">
            <div class="front-frame1686564735">
              <span class="front-text ApplicationtextstyleSubhead(Med14px)">
                <span>Brand Name</span>
              </span>
            </div>
            <span class="front-text2 ApplicationtextstyleBody(Reg14px)">
              <span>TruKlip ID : T8WDD77885</span>
            </span>
          </div>
          <div class="front-frame1686564705">
            <span class="front-text4 ApplicationtextstyleHeadline1(Med18px)">
              Afzal &nbsp; Ahmad
            </span>
            <span class="front-text5 ApplicationtextstyleCaption1(Reg12px)">
              12 Mar 2022, 12:20 PM
            </span>
          </div>
          <div class="front-englishklip">
            <div class="front-group">
              <div class="front-layer01member0fill">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/assetsfortruklipmvp.appspot.com/o/vectori1878-jihe.svg?alt=media&token=9ab9f177-fbcb-41e2-ae72-a3eab3187d56"
                  alt="VectorI1878"
                  class="front-vector06"
                />
              </div>
            </div>
            <div class="front-group1">
              <div class="front-layer01member1fill">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/assetsfortruklipmvp.appspot.com/o/vectori1878-9twb.svg?alt=media&token=0496e62c-1418-4b7b-a8ed-19a77d44dd10"
                  alt="VectorI1878"
                  class="front-vector07"
                />
              </div>
            </div>
            <div class="front-group2">
              <div class="front-layer01member2fill">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/assetsfortruklipmvp.appspot.com/o/vectori1878-i8s8.svg?alt=media&token=531cefe5-be38-431f-8cec-1b12e994e117"
                  alt="VectorI1878"
                  class="front-vector08"
                />
              </div>
            </div>
            <div class="front-group3">
              <div class="front-layer01member3fill">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/assetsfortruklipmvp.appspot.com/o/vectori1878-tqu.svg?alt=media&token=e9a79af2-d647-4372-b6ec-599077d07d36"
                  alt="VectorI1878"
                  class="front-vector09"
                />
              </div>
            </div>
            <div class="front-group4">
              <div class="front-layer01member4fill">
                <img
                  src='https://firebasestorage.googleapis.com/v0/b/assetsfortruklipmvp.appspot.com/o/vectori1878-zcfg.svg?alt=media&token=5459ed31-7640-4f28-b2d3-fe94b9886a1f'
                  alt="VectorI1878"
                  class="front-vector10"
                />
              </div>
            </div>
            <div class="front-group5">
              <div class="front-layer02fill">
                <img
                  src='https://firebasestorage.googleapis.com/v0/b/assetsfortruklipmvp.appspot.com/o/vectori1878-40vk.svg?alt=media&token=1692dd57-219a-4151-bd95-7582d2f356e4'
                  alt="VectorI1878"
                  class="front-vector11"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
