:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-alerts-info: rgba(255, 195, 40, 1);
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-color-default-white: rgba(255, 255, 255, 1);
  --dl-radius-radius-round: 50%;
  --dl-color-alerts-darkred: rgba(203, 13, 13, 1);
  --dl-color-texts-t253545d: rgba(83, 84, 93, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-darkcanvas-text: rgba(51, 51, 51, 1);
  --dl-color-greens-g15eb261: rgba(94, 178, 97, 1);
  --dl-color-greens-g2b9f8b9: rgba(185, 248, 185, 1);
  --dl-color-greens-g3e8fde8: rgba(232, 253, 232, 1);
  --dl-color-greens-g4d1fad1: rgba(209, 250, 209, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-color-blues-blue11d1d2c: rgba(29, 29, 44, 1);
  --dl-color-blues-blue212121c: rgba(18, 18, 28, 1);
  --dl-color-blues-blue4323340: rgba(50, 51, 64, 1);
  --dl-color-greens-gnew35c937: rgba(53, 201, 55, 1);
  --dl-color-texts-primarylowfi: rgba(29, 29, 44, 1);
  --dl-color-texts-white1d6d6d9: rgba(214, 214, 217, 1);
  --dl-color-darkcanvas-t11b1b1b: rgba(26, 26, 26, 1);
  --dl-color-blues-cardbase282836: rgba(40, 40, 54, 1);
  --dl-color-greens-primary00e600: rgba(0, 230, 0, 1);
  --dl-color-neutrals-gray1d6d6d9: rgba(214, 214, 217, 1);
  --dl-color-neutrals-gray2c1c1c5: rgba(193, 193, 197, 1);
  --dl-color-neutrals-gray3adadb2: rgba(173, 173, 178, 1);
  --dl-color-neutrals-grey484848c: rgba(132, 132, 140, 1);
  --dl-color-alerts-alertrede05959: rgba(224, 88, 88, 1);
  --dl-color-blues-blue3card1a1a28: rgba(26, 26, 40, 1);
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-alerts-alertred2ffa39e: rgba(255, 163, 158, 1);
  --dl-color-alerts-alertred3fff1f0: rgba(255, 241, 240, 1);
  --dl-color-texts-plainwhiteffffff: rgba(255, 255, 255, 1);
  --dl-color-darkcanvas-canvas050508: rgba(5, 5, 8, 1);
  --dl-color-canvaswhite-canvaseaeaec: rgba(234, 234, 236, 1);
  --dl-color-canvaswhite-canvas2f1f0f5: rgba(241, 240, 245, 1);
  --dl-color-expenditurecolors-food76a6d3: rgba(118, 166, 211, 1);
  --dl-color-expenditurecolors-beauty5281ac: rgba(82, 129, 172, 1);
  --dl-color-expenditurecolors-healthee9e38: rgba(238, 158, 56, 1);
  --dl-color-expenditurecolors-housingdfa1a7: rgba(223, 161, 167, 1);
  --dl-color-expenditurecolors-clothingsdabb4f: rgba(217, 187, 78, 1);
  --dl-color-expenditurecolors-cosmetics5accd1: rgba(90, 204, 209, 1);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.ArabicwebtextstyleCaption\(Bold12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 700px;
  font-stretch: normal;
}
.ArabicwebtextstyleBody3\(Light14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 300px;
  font-stretch: normal;
}
.ArabicwebtextstyleBody2\(Reg14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleBody1\(Reg16px\) {
  font-size: 16px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleCallouts1\(Reg20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleCallouts2\(14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleSubheadline3\(Med16px\) {
  font-size: 16px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicwebtextstyleSubheadline2\(Reg18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleSubheadline1\(Med18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicwebtextstyleTitle3\(Med20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicwebtextstyleTitle2\(Reg20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleTitle1\(Med24\) {
  font-size: 24px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicwebtextstyleHeadline4\(Med38px\) {
  font-size: 38px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicwebtextstyleHeadline3\(Med48px\) {
  font-size: 48px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicwebtextstyleHeadline2\(Reg64px\) {
  font-size: 64px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicwebtextstyleHeadline1\(Med76px\) {
  font-size: 76px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.Arabicwebtextstyle\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\= {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.WebtextstyleCaption\(Semi12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600px;
  font-stretch: normal;
}
.WebtextstyleBody3\(Reg14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 400px;
  font-stretch: normal;
}
.WebtextstyleBody2\(Med14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleBody1\(Reg16px\) {
  font-size: 16px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 400px;
  font-stretch: normal;
}
.WebtextstyleCallouts1\(_Med20px_\) {
  font-size: 20px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleCallouts2\(_Med14px_\) {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleSubheadline3\(Med16px\) {
  font-size: 16px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleSubheadline2\(Reg18\) {
  font-size: 18px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 400px;
  font-stretch: normal;
}
.WebtextstyleSubheadline1\(Med18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleTitle3\(Reg20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 400px;
  font-stretch: normal;
}
.WebtextstyleTitle2\(Med20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleTitle1\(Med24px\) {
  font-size: 24px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleHeadline4\(Med38px\) {
  font-size: 38px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleHeadline3\(Med48px\) {
  font-size: 48px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.WebtextstyleHeadline2\(Reg64px\) {
  font-size: 64px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 400px;
  font-stretch: normal;
}
.WebtextstyleHeadline1\(Med76px\) {
  font-size: 76px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.Webtextstyle\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\= {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ApplicationtextstyleCaption1\(Reg12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleCaption2\(Bold12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700px;
  font-stretch: normal;
}
.ApplicationtextstyleCaption3\(Med11px\) {
  font-size: 11px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleSubhead\(Med14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleCallouts\(_Med14px_\) {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleBody\(Reg14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 400px;
  font-stretch: normal;
}
.ApplicationtextstyleHeadline1\(Med18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleHeadline2\(Bold18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 700px;
  font-stretch: normal;
}
.ApplicationtextstyleHeadline3\(Med16px\) {
  font-size: 16px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleTitle3\(Med20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleTitle2\(Med24px\) {
  font-size: 24px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleTitle1\(Med28px\) {
  font-size: 28px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.ApplicationtextstyleLargetitle\(Med34px\) {
  font-size: 34px;
  font-style: normal;
  font-family: Space Grotesk;
  font-weight: 500px;
  font-stretch: normal;
}
.Applicationtextstyle\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\= {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicmobilestyleCaption1\(Reg12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicmobilestyleCaption2\(Bold12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 700px;
  font-stretch: normal;
}
.ArabicmobilestyleCaption3\(Med11px\) {
  font-size: 11px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicmobilestyleSubhead\(Reg14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicmobilestyleCallouts_\(Reg14px\)_ {
  font-size: 14px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicmobilestyleBody\(light14px\) {
  font-size: 14px;
  font-style: normal;
  font-family: Almarai;
  font-weight: 300px;
  font-stretch: normal;
}
.ArabicmobilestyleHeadline1\(Med18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicmobilestyleHeadline2\(Bold18px\) {
  font-size: 18px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 700px;
  font-stretch: normal;
}
.ArabicmobilestyleHeadline3\(Med16px\) {
  font-size: 16px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicmobilestyleTitle3\(Reg20px\) {
  font-size: 20px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 400px;
  font-stretch: normal;
}
.ArabicmobilestyleTitle2\(Med24px\) {
  font-size: 24px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicmobilestyleTitle1\(Med28px\) {
  font-size: 28px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.ArabicmobilestyleLargetitle\(Med34px\) {
  font-size: 34px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.Arabicmobilestyle\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\= {
  font-size: 34px;
  font-style: normal;
  font-family: Kufam;
  font-weight: 500px;
  font-stretch: normal;
}
.BilltextstyleTitle\(Reg28px\) {
  font-size: 28px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400px;
  font-stretch: normal;
}
.BilltextstyleHeadline\(Bold12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 700px;
  font-stretch: normal;
}
.BilltextstyleBody2\(Reg12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 400px;
  font-stretch: normal;
}
.BilltextstyleBody\(semi12px\) {
  font-size: 12px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600px;
  font-stretch: normal;
}
.Billtextstyle\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\=\= {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
