<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Front Design</title>
  <style>
    .front-container {
      width: 100%;
      display: flex;
      overflow: auto;
      min-height: 100vh;
      align-items: center;
      flex-direction: column;
    }

    .front-front {
      width: 100%;
      height: 200px;
      display: flex;
      overflow: hidden;
      position: relative;
      align-items: flex-start;
      flex-shrink: 0;
    }

    /* Add the rest of your CSS styles here */

  </style>
</head>
<body>
  <div class="front-container">
    <div class="front-front">
      <img src="/subtract18780-42m.svg" alt="Subtract18780" class="front-subtract">
      <img src="/vector18780-awoi.svg" alt="Vector18780" class="front-vector">
      <img src="/vector18780-auru.svg" alt="Vector18780" class="front-vector01">
      <img src="/vector18780-s72n.svg" alt="Vector18780" class="front-vector02">
      <img src="/vector18780-ztbe.svg" alt="Vector18780" class="front-vector03">
      <img src="/vector18780-t666.svg" alt="Vector18780" class="front-vector04">
      <img src="/vector18780-mg29.svg" alt="Vector18780" class="front-vector05">
      <div class="front-frame1686564733">
        <div class="front-frame1686564735">
          <span class="front-text ApplicationtextstyleSubhead(Med14px)">
            <span>Brand Name</span>
          </span>
        </div>
        <span class="front-text2 ApplicationtextstyleBody(Reg14px)">
          <span>TruKlip ID : T8WDD77885</span>
        </span>
      </div>
      <div class="front-frame1686564705">
        <span class="front-text4 ApplicationtextstyleHeadline1(Med18px)">
          Imran Sheikh
        </span>
        <span class="front-text5 ApplicationtextstyleCaption1(Reg12px)">
          12 Mar 2022, 12:20 PM
        </span>
      </div>
      <div class="front-englishklip">
        <div class="front-group">
          <div class="front-layer01member0fill">
            <img src="/vectori1878-jihe.svg" alt="VectorI1878" class="front-vector06">
          </div>
        </div>
        <div class="front-group1">
          <div class="front-layer01member1fill">
            <img src="/vectori1878-9twb.svg" alt="VectorI1878" class="front-vector07">
          </div>
        </div>
        <div class="front-group2">
          <div class="front-layer01member2fill">
            <img src="/vectori1878-i8s8.svg" alt="VectorI1878" class="front-vector08">
          </div>
        </div>
        <div class="front-group3">
          <div class="front-layer01member3fill">
            <img src="/vectori1878-tqu.svg" alt="VectorI1878" class="front-vector09">
          </div>
        </div>
        <div class="front-group4">
          <div class="front-layer01member4fill">
            <img src="/vectori1878-zcfg.svg" alt="VectorI1878" class="front-vector10">
          </div>
        </div>
        <div class="front-group5">
          <div class="front-layer02fill">
            <img src="/vectori1878-40vk.svg" alt="VectorI1878" class="front-vector11">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
